<!--// <h1>App component</h1>
<app-currency (selected)="setCurrency($event)"></app-currency>
//<app-product-list [currentCurrency]="selectedCode"></app-product-list>
-->
 <app-checkout></app-checkout>
<!-- <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/product">Products</a></li>
      <li><a routerLink="/checkout">Check</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
  <app-currency></app-currency>
  <app-login-buttons></app-login-buttons>
<!-- <app-currency (selected)="setCurrency($event)"></app-currency> -->
<!-- <app-product-list [currentCurrency]="selectedCode"></app-product-list> -->
-->